
<div class="card" style="width: 18rem;">

    <div class="card-body">
        <h5 class="card-title">{{starshipInfo.name | titlecase}}</h5>


        <ul class="list-group list-group-flush">
            <li class="list-group-item">Class: {{starshipInfo.starship_class | titlecase}}</li>
            <li class="list-group-item">Atmospheric Speed: {{starshipInfo.max_atmosphering_speed}}</li>
            <li class="list-group-item">Crew: {{starshipInfo.crew}}</li>
            <li class="list-group-item">Length: {{starshipInfo.length}}meters</li>
        </ul>
    </div>
</div>
